:root {
    --primary-color:hsl(245, 75%, 52%);
    --secondary-color:hsl(225, 100%, 94%);
    --text-color:hsl(225, 100%, 98%);
    --background-color:hsl(224, 23%, 55%);
    --title-color:hsl(223, 47%, 23%);
    --main-size:16px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body {
    background-color:hsl(225, 100%, 94%);
font-family: "Red Hat Display", sans-serif;
    background-image: url("../images/pattern-background-desktop.svg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:100vh;

}
.card {
    max-width: 400px;
        background-color: #fff;
        margin: 100px auto;
        text-align: center;
        border-radius: 10px;
}
.card .image img {
    max-width: 400px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 40px;
}
.card .content h1 {
font-family: "Red Hat Display", sans-serif;
font-weight: 800px;
margin-bottom: 20px;
}
.card .content p {
    padding:0 40px ;
    color: var(--background-color);
    font-family: "Red Hat Display", sans-serif;
    
}
.card .content .plan {
    width: calc(100% - 80px);
    background-color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
    border-radius: 10px;
}
.card .content .plan-flex {
    display: flex;
    padding: 20px;
}
.card .content .plan-flex img {
    margin-right: 20px;
    width: 40px;
}
.card .content .plan-flex .next-plan {
    /* margin-top:5px ; */
    font-family: "Red Hat Display", sans-serif;
}

.card .content .plan-flex .next-plan span {
    color: var(--background-color);
}
.card .content .plan .change {
    margin-right: 20px;
    background-color: var(--text-color);
    border: none;
    text-decoration: underline;
    color: var(--primary-color);
    cursor: pointer;
}
.card .content  .process {
    width: calc(100% - 80px);
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 0 30px;
    box-shadow: 0 10px 10px 5px var(--primary-color);
    font-family: "Red Hat Display", sans-serif;
    border: none;
    outline: none;

}
.card .content .process:hover {
    transform: scale(1.1);
    background-color: var(--title-color);
    cursor: pointer;
    
}
.card .content .cancel {
    border: none;
    text-decoration:none;
    background-color: #fff;
    margin-bottom: 40px;
    color: var(--background-color);
    font-family: "Red Hat Display", sans-serif;
    cursor: pointer;
}
.card .content .cancel:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}
@media (max-width:400px){
    .card {
            max-width: 300px;
    }
        .card .image img {
            max-width: 300px;
        }
                .card .content .plan-flex img {
                    margin-right: 10px;
                    width: 40px;
                }
                .card .content {
                    text-align: center;
                }
  .card .content .plan .change {
     margin-right: 10px;
                                }
     .card .content .process{
        width: calc(100% - 60px);
     }
 .card .content .plan {
    width: calc(100% - 60px);
     margin: 20px 30px;
 }
 .card .content p {
     padding: 0 25px;
}
}